.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    color: white;
    height: 10vh;
}
.navbar div:hover {
    cursor: pointer;
}

.navbar .part1 img {
    color: aliceblue;
    width: 10vw;
}
.navbar .part2 {
    display: flex;
}
.navbar .part2 .div1 i {
    font-size: 2vw;
    margin-right: 1.5px;
}
.navbar .part2 .div2 {
    text-align: start;
}
.navbar .part2 .div2 .para1 {
    font-size: 1.1vw;
 margin-bottom: 0;
    color: aliceblue;
}
.navbar .part2 .div2 .para2 {
    margin-top: 0;
    font-size: 1.4vw;
    font-weight: bold;
    margin-bottom: 0;
}
.navbar .part3:focus {
    border: 1px solid rgb(248, 169, 94);
}
.navbar .search-container {
    float: right;
}

.navbar input[type=text] {
    padding: 0.7vw;
    margin-top: 1vh;
    font-size: 1.5vw;
    /* border: none; */
}

.navbar .search-container button {
    float: right;
    padding: 0.9vh 1vw;
    margin-top: 1vh;
    margin-right: 0.7vw;
    background: rgb(248, 169, 94);
    font-size: 1.8vw;
    border: none;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.navbar .part4 img {
    margin-top: 0.5rem;
    width: 2.4vw;
}
.navbar .part4 select {
    margin-top: -2rem;
    border: 0;
    background-color: black;
    color: white;
}
.navbar .part5 {
  text-align: start;
}
.navbar .part5 .para1 {
 font-size: 1.1vw;
 font-weight: 400;
 margin-bottom: 0;
 color: aliceblue;
}

.navbar .part5 .para2 {
    margin-top: 0;
    font-size: 1.4vw;
    font-weight: bold;
    margin-bottom: 0;
}
.navbar .part5 .para2 select {
    border: 0;
    background-color: black;
    color: white;
}
.navbar .part6 {
    text-align: start;
  }
  .navbar .part6 .para1 {
   font-size: 1.1vw;
   font-weight: 400;
   margin-bottom: 0;
   color: aliceblue;
  }
  
  .navbar .part6 .para2 {
      margin-top: 0;
      font-size: 1.4vw;
      font-weight: bold;
      margin-bottom: 0;
  }
  .navbar .part5 .para2 select {
      border: 0;
      background-color: black;
      color: white;
  }
  .navbar .part7 nav a {
    text-decoration: none;
    color: white;
  }
  .navbar .part7 nav a i {
     font-size: 3.8vw;
  }

  .navbar2 {
    display: flex;
    justify-content:space-between ;
    background-color: rgb(36, 35, 35);
    color: white;
  }
  .navbar2 .part1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .navbar2 .part1 div {
    margin-left: 0.5vw;
    margin-right: 1vw;
    font-size: 1.3vw;
  }
  .navbar2 .part1 div:hover {
    cursor: pointer;
  }

.navbar2 .part2 img:hover {
 cursor: pointer;
}